<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Edit Quote</title>
  </head>
  
  <body>
    Edit my account <a href='/quotes'>Back</a>&nbsp<button><a href = "/logout">Logout</a></button>
    {% with messages = get_flashed_messages() %}         
    {% if messages %}                                 
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <form action="/update" method="POST">
      First Name: <input type="text" name = "first_name" value = {{ user["first_name"] }}>
      <br>
      Last Name: <input type="text" name = "last_name" value = {{ user['last_name'] }}>
      <br>
      Email: <input type="text" name = "email" value = {{ user['email'] }}>
      <br>
      <input type="submit" value="Update">
    </form>

  </body>
</html>
